# Citation

Much of the code and examples are copied/modified from 

> Blueprints for Text Analytics Using Python by Jens Albrecht, Sidharth Ramachandran, and Christian Winkler (O'Reilly, 2021), 978-1-492-07408-3.
>

- https://github.com/blueprints-for-text-analytics-python/blueprints-text
- https://github.com/blueprints-for-text-analytics-python/blueprints-text/blob/master/ch01/First_Insights.ipynb

---

# Setup

In [1]:
%matplotlib inline

import os
from pathlib import Path
import helpsk as hlp
import numpy as np
import pandas as pd

from helpers.utilities import Timer, get_logger

def get_project_directory():
    return os.getcwd().replace('/source/executables', '')

print(get_project_directory())

/Users/shanekercheval/repos/nlp-template

---

# Exploratory Data Analysis

This section provides a basic exploration of the text and dataset.

In [2]:
with Timer("Loading Data"):
    path = os.path.join(get_project_directory(), 'artifacts/data/processed/un-general-debates-blueprint.pkl')
    un_debates = pd.read_pickle(path)

Started: Loading Data
Finished (1.00 seconds)

---

In [3]:
hlp.pandas.numeric_summary(un_debates)

In [4]:
hlp.pandas.non_numeric_summary(un_debates)

---

In [ ]:
un_debates[un_debates['speaker'].str.contains('Bush')]['speaker'].value_counts()

---

In [ ]:
from collections import Counter

In [34]:
def count_tokens(tokens, min_frequency: int = 2) -> pd.DataFrame:
    """
    Counts tokens, returns the results as a DataFrame with 'token' and 'frequency' columns.

    Modified from:
        Blueprints for Text Analytics Using Python
        by Jens Albrecht, Sidharth Ramachandran, and Christian Winkler
        (O'Reilly, 2021), 978-1-492-07408-3.
         https://github.com/blueprints-for-text-analytics-python/blueprints-text/blob/master/ch01/First_Insights.ipynb

    Args:
        tokens:
            either
                - a pandas Series (with strings or a list of strings)
                - a list of strings
                - a list of lists of strings
        min_frequency:
            The minimum times the token has to appear in order to be returned
    """
    if isinstance(tokens, list):
        tokens = pd.Series(tokens)

    # create counter and run through all data
    counter = Counter()

    def count(x):
        if isinstance(x, str):
            x = [x]
        counter.update(x)

    _ = tokens.map(count)

    # transform counter into data frame
    freq_df = pd.DataFrame.from_dict(counter, orient='index', columns=['frequency'])
    freq_df = freq_df.query('frequency >= @min_frequency')
    freq_df.index.name = 'token'
    
    return freq_df.sort_values('frequency', ascending=False)

In [35]:
count_tokens(un_debates['tokens']).head(20)

               frequency
token
nations           124508
united            120763
international     117223
world              89421
countries          85734
peace              72625
development        62632
states             59713
people             59338
security           58425
economic           53833
must               51880
also               47403
new                44453
country            40878
assembly           40413
community          38294
government         37430
general            37138
organization       36434

In [33]:
count_tokens(un_debates['tokens']).head(20)

                 freq
token
nations        124508
united         120763
international  117223
world           89421
countries       85734
peace           72625
development     62632
states          59713
people          59338
security        58425
economic        53833
must            51880
also            47403
new             44453
country         40878
assembly        40413
community       38294
government      37430
general         37138
organization    36434

In [23]:
counter.most_common(10)

[('nations', 124508),
 ('united', 120763),
 ('international', 117223),
 ('world', 89421),
 ('countries', 85734),
 ('peace', 72625),
 ('development', 62632),
 ('states', 59713),
 ('people', 59338),
 ('security', 58425)]